@model DavinoComputers.Web.ViewModels.ProductViewModels.ListingProductViewModel
@{
    this.ViewData["Title"] = "All Products";
}

<h1 class="text-center">All Products</h1>
<hr />


<form method="get">
    <div class="row col-sm-4 col-md-4 col-lg-3 float-left mb-3 mr-2 border-bottom">
        <div class="col-12">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="AMD, Intel etc..." />
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SubCategory"></label>
                <select asp-for="SubCategory" class="form-control">
                    <option value="">All</option>
                    @foreach (var subCategory in Model.SubCategories)
                    {
                        <option value="@subCategory">@subCategory</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var product in Model.Products)
    {
    <div class="media col-md-6 col-lg-4 col-sm-6 mb-4">
        <img src="@product.ImageUrl" class="mr-3 p-2 w-50 mx-auto">
        <div class="media-body align-text-top">
            <a href="/products/Details?id=@product.Id" class="mt-0" style="color:black">@product.Brand @product.Model</a>
            <p class="mt-2"><small class="text-muted"> - @product.CategoryName</small></p>
            <h5 class="border-bottom">@product.Price BGN</h5>
        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <a class="btn btn-warning btn-sm" asp-area="" asp-controller="Products" asp-action="Edit" role="button">Edit</a>
            <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Products" asp-action="Delete" role="button">Delete</a>
        }
        </div>
    </div>
    }
</div>

<div class="mb-2"></div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

