@model DavinoComputers.Web.ViewModels.ProductViewModels.ListingProductViewModel
@{
    this.ViewData["Title"] = "All Products";
}

<h1 class="text-center">All Products</h1>
<hr />


<form method="get">
    <div class="row mb-3 border-bottom">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="AMD, Intel etc..." />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Brand"></label>
                <select asp-for="Brand" class="form-control">
                    <option value="">All</option>
                    @foreach (var brand in Model.Brands)
                    {
                        <option value="@brand">@brand</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="media col-md-4 mb-5">
            <img src="@product.ImageUrl" width="140" class="mr-3 p-2">
            <div class="media-body align-text-top">
                <a href="/Products/Index?id=@product.Id" class="mt-0" style="color:black">@product.Brand @product.Model</a>
                <h6 class="mt-2">@product.CategoryName</h6>
                <h5 class="border-bottom">@product.Price BGN</h5>
            </div>
        </div>
    }
</div>
<div ></div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

