@model DavinoComputers.Web.ViewModels.ProductViewModels.ProductDetailsViewModel
@{
    this.ViewData["Title"] = "Product Index";
}


<div class="card mb-3">
    <img src="@Model.ImageUrl" class="card-img-top m-1 p-5 w-50 mx-auto">
    <div class="card-body">
        <h5 class="card-title border-bottom">@Model.Brand @Model.Model</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text"><small class="text-muted">@Model.Rate</small></p>
        <h5 class="card-title border-bottom">Price: @Model.Price BGN </h5>
    </div>
    <a href="#" class="btn btn-primary">Add to cart</a>
</div>

