@model ICollection<HiddenProductsListViewModel>

@{
    this.ViewData["Title"] = "Deleted Products";
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Available</th>
                <th scope="col">Price</th>
                <th scope="col">Rate</th>
                <th scope="col">Image Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Brand</td>
                    <td>@product.Model</td>
                    <td>@(product.IsAvailable == true ? "Yes" : "No")</td>
                    <td>@product.Price BGN</td>
                    <td>@product.DeletedOn</td>
                    <td><img class="img-thumbnail w-25 mx-auto" src="@product.ImageUrl" /></td>
                    <td><a class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>