@model PcBuildDetailsModel

@{
    this.ViewData["Title"] = "Pc Build Details";
}

<div class="row">
    <a class="mr-2 ml-3" asp-controller="Home" asp-action="Index">Home</a>
    <p class="mr-2">></p>
    <a class="mr-2" asp-controller="PcBuilds" asp-action="All">PcBuilds</a>
    <p class="mr-2">></p>
    <a class="mr-2" asp-controller="PcBuilds" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
</div>

<div class="card mb-3">
    <img class="card-img-top w-50 mx-auto" src="@Model.ImageUrl" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <div class="row">
            <h2 class="card-text border-bottom ml-3 mr-3">@Model.Price BGN</h2>
            <a href="#" class="btn btn-primary">Add to shopping cart</a>
        </div>
    </div>
</div>

<h1 class="text-left mt-5">Components</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Available</th>
                <th scope="col">Price</th>
                <th scope="col">Rate</th>
                <th scope="col">Image Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Brand</td>
                    <td>@product.Model</td>
                    <td>@(product.IsAvailable == true ? "Yes" : "No")</td>
                    <td>@product.Price BGN</td>
                    <td>@product.Rate</td>
                    <td><img class="img-thumbnail w-25 mx-auto" src="@product.ImageUrl" /></td>
                    <td><a class="btn btn-info" asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" target="_blank">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>